/* page.module.css */

.initialDiv {
    width: 100%;
    height: 100vh; /* Ocupa a altura total da tela */
    position: relative;
  }
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiperSlide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .slideContent {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    position: absolute;
    top: 20%; /* Posiciona o título acima da imagem */
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 2.5rem;
    text-align: center;
    z-index: 10; /* Garante que o título fique acima da imagem */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para melhorar a legibilidade */
  }
  
  .carouselImage {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem cubra o espaço sem distorcer */
  }
  
  /* Estilos para a paginação e navegação do Swiper */
  .swiper-pagination-bullet {
    background-color: #fff;
  }
  
  .swiper-button-next,
  .swiper-button-prev {
    color: #fff;
  }